.titleBar {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 16px;
}
.App {
  text-align: center;
}
.card-wrapp {
  display: flex;
  flex-wrap: wrap;
  margin-top: 146px;
}
.dropdown {
  display: inline-block;
  position: absolute;
  left: 93%;
  margin-top: 15px;
  border: 1px solid lightgray;
  width: 79px;
  height: 26px;
  text-align: center;
  padding-top: 4px;
  border-radius: 3px;
  color: rgb(92, 88, 88);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  text-align: justify;
  z-index: 1;
}
.item {
  margin-top: 5px;
}
.item:hover {
  cursor: pointer;
  color: lightgray;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#logo {
  margin: 18px;
}
#logo:hover {
  cursor: pointer;
}
.nav-bar {
  position: fixed;
  width: 1140px;
  z-index: 1;
}
.text-input {
  font-size: 14px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
h1 {
  font-size: 2em;
  margin: 30px 0;
  position: absolute;
}
.text-input {
  font-size: 24px;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  font-size: 24;
  display: block;
  width: 23%;
  padding-top: 8;
  padding-bottom: 8;
  padding-left: 16;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
